body{
  background-color: #cce6ff;
}

.head{
border-top: solid;
border: color#008066
}

.title{
text-align: center;
}

h1{
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  font-family: sans-serif;
  text-align: center;
  color: #008066
}

h2{
  font-weight: bold;
  font-style: italic;
  font-family: sans-serif;
  color: #008066
}

header{
font-weight: bold;
}

.saying{
  font-style: italic;
  font-size: small;
  border-left: 5px solid #008066;
}

span{
  font-weight: bold;
}

.rightfloat{
float: right;
}

.column{
  padding: 10px;
  border: 2px solid #008066;
  margin: 5px;
  position:relative;
}

.column1{

}
