body{
  background-color: #cce6ff;
}

.column{

}

.left-panel{

}

h1{
font-weight: bold;
font-style: italic;
font-family: sans-serif;

}

h2{
font-weight: bold;
font-style: italic;
font-family: sans-serif;
}

h3{

}

blockquote{
display: block;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 40px;
margin-right: 40px;
}

.saying{
font-style: italic;
font-size: small;
border-left: 10px solid #008066;
}

span{
  font-weight: bold;
}

.rightfloat{
  float: right;
}
